@model IEnumerable<ElectricStore.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2 class="title">
    <img src="~/images/sale-banner.jpg" />
    <span class="span-col-s">Sale of the Day</span>
</h2>