<div>
    <h2>
        <a asp-action="ShowDataForCity" asp-route-city=@ViewBag.CurrentCityName>@ViewBag.CurrentCityName</a>
    </h2>
    <img src="@Url.Action("GetImage", new {cityName = ViewBag.CurrentCityName })" />
</div>
