@model int
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<td class="mainDiv" style="">
    <div class="cardDiv">First Name: @ViewBag.People[Model].FirstName</div>
    <div class="cardDiv">Last Name: @ViewBag.People[Model].LastName</div>
    <div class="cardDiv">Address: @ViewBag.People[Model].Address</div>
    <div class="cardDiv">Phone: @ViewBag.People[Model].Phone</div>
</td>