@using Cupcakes.Models
@model Cupcakes.Models.Cupcake

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link type="text/css" rel="stylesheet" href="~/css/cupcakes-styles.css" />
</head>
<body>
    <div class="container">
        <h1 class="title">Edit a Cupcake</h1>
        <form method="post" enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="CupcakeId" />
            <div class="form-field">
                <label asp-for="Bakery"></label>
                <select asp-for="BakeryId" asp-items="ViewBag.BakeryID">
                    <option selected="selected" value="">Select</option>
                </select>
                <span asp-validation-for="BakeryId"></span>
            </div>
            <div class="form-field">
                <label asp-for="CupcakeType"></label>
                <select asp-for="CupcakeType" asp-items="Html.GetEnumSelectList<CupcakeType>()">
                    <option selected="selected" value="">Select</option>
                </select>
                <span asp-validation-for="CupcakeType"></span>
            </div>
            <div class="form-field">
                <label asp-for="Description"></label>
                <textarea asp-for="Description"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
            <div class="form-field">
                <label asp-for="GlutenFree"></label>
                <input asp-for="GlutenFree" />
                <span asp-validation-for="GlutenFree"></span>
            </div>
            <div class="form-field">
                <label asp-for="Price"></label>
                <input asp-for="Price" />
                <span asp-validation-for="Price"></span>
            </div>
            <div class="form-field">
                <label asp-for="CaloricValue"></label>
                <input asp-for="CaloricValue" />
                <span asp-validation-for="CaloricValue"></span>
            </div>
            <div>
                <input type="hidden" asp-for="ImageMimeType" />
                <input type="hidden" asp-for="ImageName" />
                @Html.HiddenFor(c => c.PhotoAvatar)
                @Html.HiddenFor(c => c.PhotoFile)
            </div>
            <div class="form-field">
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>
</body>
</html>
