<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <link href="~/css/style-example.css" rel="stylesheet" />
    <script src="~/js/jquery-functions.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
