@model BindViewsExample.Models.Restaurant

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body>
    <h1>The second way to pass a model from an action to a view</h1>
    <div>
        @Html.EditorForModel()
    </div>
</body>
</html>
