@model BindViewsExample.Models.Restaurant

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css"/>
</head>
<body>
    <h1>Restaurant Information</h1>
    <div>
        @Html.EditorForModel()
    </div>
    <p id="remark">The Second Way to Pass a Model From an Action to a View</p>
</body>
</html>
