
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>
    <h1>Employee Details</h1>
    <p>
        Name: @ViewBag.SelectedPerson
    </p>
    <img src="@Url.Action("GetImage", new {personName = ViewBag.SelectedPerson })" width="500" />
    <p>@Html.ActionLink("Back to person selection list", "Index")</p>
</body>
</html>
