
@{
    ViewData["Title"] = "Index";
}

<div>
    <h1> Use NPM to Add a JavaScript Library </h1>
    <button id="btn-jquery-func"> Run JQuery Function </button>
    <div class="box"> jquery animation </div>
</div>
