
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
	<link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
</head>
<body>
</body>
</html>
