html {
    /*background: filter(url('istock-497944862.jpg'), blur(5px));*/
    background-image: linear-gradient(rgba(47,79,79,0.75),rgba(47,79,79,0.75)), url('../images/block.jpg');
    background-position: center center;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center center;
    color: yellowgreen;
    text-align: center;
}

h1 {
    opacity: 0.8;
    color: yellowgreen;
}

img {
    width: 100px;
    height: 100px;
}

div {
    border-color: aqua;
    background-color: aqua;
    opacity: 0.5;
    border-width: 6px;
    border-style: outset;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

h2 {
    color: rgb(124,165,40);
}
