@model WorldJourney.Models.City

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Page"]</title>
    <link type="text/css" rel="stylesheet" href="~/css/city-styles.css" />
</head>
<body>
    <div>
        <h1 class="sitetitle">@ViewBag.Title</h1>
        <div style="padding:10px;">
            @if (Model.ImageName != null)
            {
                <div>
                    <img class="photo-display-img" src="@Url.Action("GetImage", "City", new { CityId = Model.ID })" />
                </div>
            }
        </div>
        <br />
        <div>
            <div class="button-center">
                @Html.ActionLink("Go Back", "Index")
            </div>
        </div>
    </div>
</body>
</html>
