@model ButterfliesShop.Models.Butterfly

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h1>Add Butterflies to The Shop</h1>
    <div>
        <form asp-action="Details">
            <div asp-validation-summary="All"></div>
            <br />
            <label asp-for="CommonName"></label>
            <input asp-for="CommonName" />
            <span asp-validation-for="CommonName"></span>
            <br />
            <label asp-for="ButterflyFamily"></label>
            <input asp-for="ButterflyFamily" />
            <span asp-validation-for="ButterflyFamily"></span>
            <br />
            <label asp-for="Characteristics"></label>
            <input asp-for="Characteristics" />
            <span asp-validation-for="Characteristics"></span>
            <br />
            <label asp-for="AmountInShop"></label>
            <input asp-for="AmountInShop" />
            <span asp-validation-for="AmountInShop"></span>
            <br />
            <label asp-for="CreatedDate"></label>
            <input asp-for="CreatedDate" />
            <span asp-validation-for="CreatedDate"></span>
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
