
@{
    ViewData["Title"] = "ThankYou";
}

<h1 class="title">Thank You For Adding a Book to the Inventory</h1>

<div class="text-center">
    <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("AddBook", "Librarian")'">Add Book to the Library</button>
    <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("GetBooksByGener", "Library")'">Back to Our Books</button>
</div>
