body {
    font-family: "Playfair Display", Arial, Tahoma, sans-serif;
    text-align: center;
}

.main-title {
    background-image: url("/images/banner.jpg");
    width: 100%;
    background-size: cover;
    background-position: center center;
    min-height: 465px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
}

.main-title h1 {
    font-size: 50px;
    text-shadow: 15px 10px 15px #1b1e21;
    font-weight: bolder;
    text-align: left;
    color: #ece2e2;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}

.item {
    color: white;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item h3 {
    color: #736454;
    font-size: 20px;
}

div p {
    color: #736454;
    font-size: 20px;
    margin: 20px;
}

img {
    height: 250px;
    width: 250px;
}

.photo-index-card {
    background-color: #ffffff;
    padding: 0;
    margin: 10px 5px 15px 18px;
    padding-bottom: 25px;
    width: 355px;
    border: 1px solid #d6d4d4;
    border-radius: 10px;
    overflow: hidden;
    height: 230px;
}

.image-wrapper {
    height: 178px;
}

.photo-display-img {
    width: 100%;
}

.display-picture-title {
    width: 290px;
    padding: 10px 0;
    margin: 0 auto;
    position: relative;
    margin-top: -43px;
    background-color: #d4e2b6;
    height: 100px;
    font-weight: 100;
    font-weight: bolder;
}

.btn-transparent {
    color: aliceblue;
    background-color: Transparent;
    border: 3px solid #e3dfdf;
    margin-bottom: 100px;
}

.navbar-custom {
    background-color: #928888;
}

    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        padding: 5px;
    }

    .navbar-custom .navbar-nav .nav-link {
        padding: 5px;
    }

    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        background-color: #b9836d;
    }

.title {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    margin: 15px;
}

.span-col-f {
    color: #616161;
}

.span-col-s {
    color: #C62828;
}

form {
    margin: 20px;
    background-color: #d4e2b6;
    padding: 15px;
    width: 600px;
    box-shadow: 5px 10px #888888;
    border-radius: 10%;
}

.field-validation-error {
    color: red;
}

.photo-index-card-data {
    background-color: #ffffff;
    padding: 0;
    margin: 10px 5px 15px 18px;
    padding-bottom: 25px;
    width: 400px;
    border: 1px solid #d6d4d4;
    border-radius: 10px;
    overflow: hidden;
    height: 280px;
}

.display-picture-data {
    width: 320px;
    margin: 0 auto;
    position: relative;
    margin-top: -79px;
    background-color: #d4e2b6;
    height: 100px;
    font-weight: bold;
    font-weight: bolder;
    height: 195px;
}

.display-title {
    color: #D84315;
    font-weight: bold;
}
