body {
    background: linear-gradient(to bottom right, DarkBlue 0%, DodgerBlue 100%);
    background-repeat: no-repeat;
}

html {
    height: 100%;
}

span:first-child, span:last-child {
    opacity: 0.7;
}

img, div, nav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

div {
    border-style: inset;
    border-color: gray;
    border-width: 5px;
    background-color: gray;
    width: 100px;
}

body > p {
    color: white;
    opacity: 0.6;
}

h1 {
    text-align: center;
    color: white;
    opacity: 0.8;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
    opacity: 0.8;
}

a:visited {
    color: white;
    opacity: 0.8;
}

a:hover {
    color: white;
    opacity: 0.8;
}

a:active {
    color: white;
    opacity: 0.8;
}

span {
    color: white;
    border-style: inset;
    border-color: gray;
    border-width: 5px;
    background-color: gray;
    width: 100px;
    opacity: 0.8;
}

p {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 15px;
    color: white;
}