@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}

<h2>Index Action, Home Controller</h2>
<a asp-action="Standard" asp-controller="Main">Press the link</a>





