

@{
    ViewData["Title"] = "Index";
}

<h1 class="title">Welcome to Workers Portal</h1>
<div class="text-center">
    <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("AddBook", "Librarian")'">Add Book to the Library</button>
</div>
