@{
    CitiesDetails.Services.CityPopulation population = ViewBag.City.CityPopulation;
}

<p><h3>City Population(@population.Year)</h3></p>
<p>City: @population.City</p>
<p>Urban: @population.Urban</p>
<p>Metro: @population.Metro</p>
