@{ 
    CitiesDetails.Services.CityPopulation population = ViewBag.City._cityPopulation;
}

<p><h3>City Population(@population._year)</h3></p>
<p>City: @population._city</p>
<p>Urban: @population._urban</p>
<p>Metro: @population._metro</p>
