
@{
    ViewData["Title"] = "Index";
}

<h2 class="title">
    <span class="span-col-f">Dive Into Our</span>
    <span class="span-col-s">Wanted Ad</span>
    <button class="btn btn-outline-danger" type="button" onclick="location.href='@Url.Action("Create", "JobApplication")'">Submit Job Application</button>
</h2>
<div class="container">
</div>

@section Scripts{
    <script src="~/js/wanted-ad-get.js"></script>
}