
@{
    ViewData["Title"] = "Index";
}

<h2 class="title">
    <span class="span-col-f">Dive Into Our</span>
    <span class="span-col-s">Wanted Ad</span>
</h2>



@section Scripts{
    <script src="~/js/wanted-ad-get.js"></script>
}
