body {
    background: linear-gradient(to bottom right, DarkBlue 0%, DodgerBlue 100%);
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html {
    height: 100%;
}

body > p {
    color: white;
    opacity: 0.6;
}



h1 {
    text-align: center;
    color: white;
    opacity: 0.8;
}

/* unvisited link */
a:link {
    color: white;
    opacity: 0.8;
}

/* visited link */
a:visited {
    color: white;
    opacity: 0.8;
}

/* mouse over link */
a:hover {
    color: white;
    opacity: 0.8;
}

/* selected link */
a:active {
    color: white;
    opacity: 0.8;
}
