@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>

    @foreach (string productName in ViewBag.ProductNames)
    {
        <p>
            <span>
                Product Name: @productName
            </span>
        </p>
    }

</body>
</html>
