
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (KeyValuePair<string, int> ProductPrices in ViewBag.ProductPrices)
    {
    <p>
        <div>
            Product Name: @ProductPrices.Key
        </div>
        <div>
            Product Price + Tax: @(ProductPrices.Value * 1.2)
        </div>
    </p>
    }
</body>
</html>
