@inject ErrorHandlingExample.Services.ICounter cnt
@model int
@using Microsoft.AspNetCore.Http.Extensions
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="css\Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    Welcome to the modulu calculator site.<br>
    The number of entrances to the site is: @cnt.UrlCounter[Context.Request.GetDisplayUrl()]<br />
    @Html.Partial("_NumberLinks")
</body>
</html>
