
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewDataExample</title>
    <link rel="stylesheet" type="text/css" href="~/css/style-controllers-example.css" />
</head>
<body>
    <p>
        The Message is: @ViewData["Message"]
    </p>
</body>
</html>
