
@{
    ViewData["Title"] = "Index";
}

<h2 class="title">
    <span class="span-col-f">Dive into Our Wanted Ad</span>
    <button class="btn btn-outline-success" type="button" onclick="location.href='@Url.Action("Create", "JobApplication")'">Submit Job Application</button>
</h2>
<div class="container">
</div>
