
@{
    ViewData["Title"] = "ChangedPathAction";
}

<h2>ChangedPathAction Action, View Controller</h2>
<p>@Html.ActionLink("Path: " + Url.Action("ChangedPathAction", "Content"), "ChangedPathAction", "Content")</p>
