
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="~/css/city-styles.css" />
</head>
<body>
    <h3 class="main-titel">Hello @ViewBag.VisiterName</h3>
    <h5 class="into">You can explore the pictures that were taken in the world journey</h5>
    <div class="img-container">
        <div class="photo-index-card">
            <img class="photo-img" src="~/images/blackberries.jpg" alt="Sample Image" width="300" />
        </div>
        <div class="photo-index-card">
            <img class="photo-img" src="~/images/orchard.jpg" alt="Sample Image" width="300" />
        </div>
        <div class="photo-index-card">
            <img class="photo-img" src="~/images/flower.jpg" alt="Sample Image" width="300" />
        </div>
        <div class="photo-index-card">
            <img class="photo-img" src="~/images/ripples.jpg" alt="Sample Image" width="300" />
        </div>
    </div>
    <div class="button-center">
        @Html.ActionLink("Go Next", "Index", "City")
    </div>
</body>
</html>
