@model ControllersExample.Models.ExampleModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/css/style-controllers-example.css" />

</head>
<body>
    @Model.Sentence
</body>
</html>
