
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBagExample</title>
</head>
<body>
    <p>
       The Message is: @ViewBag.Message
    </p>
</body>
</html>
