.main-title {
    background-image: url("/images/restaurant-header.jpg");
    width: 100%;
    background-size: cover;
    background-position: center center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}


.item {
    color: black;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("/images/white-plate.jpg");
    box-shadow:10px;
    width: 35%;
    background-size: cover;
    background-position: center center;
    min-height: 400px;
    margin: 15px;
}
