
@{
    ViewData["Title"] = "VisitorDetails";
}

<div class="container">
    <div class="info">
        <p class="contact-title">Park Hours</p>
        <p class="sub-header">Weekends and Holidays</p>
        <p>10:00 AM - 5:00 PM</p>
        <p>Monday - Friday</p>
        <p>10:00 AM - 5:30 PM</p>
    </div>
    <div class="info">
        <p class="contact-title">Zoo Schedule</p>
        <table>
            <tr>
                <td>09:00 AM</td>
                <td>Zoo Opens</td>
            </tr>
            <tr>
                <td>11:00 AM</td>
                <td>Sea Water Show</td>
            </tr>
            <tr>
                <td>2:00 PM</td>
                <td>Sea Lion Feeding</td>
            </tr>
            <tr>
                <td>5:00 PM</td>
                <td>Exhibits Close</td>
            </tr>
            <tr>
                <td>5:30 PM</td>
                <td>Zoo Closes</td>
            </tr>
        </table>
    </div>
</div>
