
@{
    ViewData["Title"] = "ThankYou";
}

<h2 class="title">
    <span class="span-col-f">Thank You For Choosing to Dine at Our Restaurant,</span>
    <span class="span-col-s">Hoping That You Will Enjoy</span>
</h2>
