@using CitiesDetails.Services
@inject CitiesDetails.Services.ICityProvider CityProvider

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Select City</h1>
    @foreach (KeyValuePair<string, CityDetails> item in CityProvider)
    {
        @await Component.InvokeAsync("City", item.Key)
    }
</body>
</html>
