@using CitiesDetails.Services
@inject ICityProvider CityProvider

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowCities</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <h1>Select City</h1>
    @foreach (var item in CityProvider)
    {
        @await Component.InvokeAsync("City", item.Key)
    }
</body>
</html>
