
@{
    ViewData["Title"] = "Index";
}

<h1>Students GradeBook</h1>
<h2>Course Name: Mathematics and Computer Science</h2>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    Student Name
                </th>
                <th>
                    Mid-Term
                </th>
                <th>
                    Performance
                </th>
                <th>
                    Final Grade
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Thomas M. Hacker</td>
                <td>93</td>
                <td>95%</td>
                <td id="studentGrade1">90</td>
            </tr>
            <tr>
                <td>Patrick J. Lazo</td>
                <td>53</td>
                <td>51%</td>
                <td id="studentGrade2">50</td>
            </tr>
            <tr>
                <td>Helen D. Miller</td>
                <td>91</td>
                <td>95%</td>
                <td id="studentGrade3">85</td>
            </tr>
        </tbody>
    </table>
</div>
<button id="jqueryButton">Apply JQuery</button>