
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Employee Details</h1>
    <br />
    <p class="center text">
        Name: @ViewBag.SelectedPerson
    </p>
    <br />
    <div class="center">
        <img src="@Url.Action("GetImage", new {personName = ViewBag.SelectedPerson })" width="500" />
        <p class="text">@Html.ActionLink("Back to person selection list", "Index")</p>
    </div>
</body>
</html>
