
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (KeyValuePair<string, int> productPrices in ViewBag.ProductPrices)
    {
        <p>
            <div>
                Product Name: @productPrices.Key
            </div>
            <div>
                Tax included Product Price: @(productPrices.Value * 1.2)
            </div>
        </p>
    }
</body>
</html>
