
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="~/js/pizza-get.js"></script>
    <script src="~/js/pizza-post.js"></script>
</head>
<body>
    <h1>Welcome to Module 13 - Demo 3</h1>
    <button type="button" class="btn-get btn-outline-info">Get Ajax Function</button>
    <button type="button" class="btn-post btn-outline-info">Post Ajax Function</button>
    <div class="result"></div>
</body>
</html>
