
@{
    ViewData["Title"] = "ThankYou";
}

<h2 class="title">
    <span class="span-col-f">Thank you for choosing to dine at our</span>
    <span class="span-col-s">restaurant hoping you will enjoy it</span>
</h2>
