
@{
    ViewData["Title"] = "ThankYou";
}

<h2 class="title">
    <span class="span-col-f">Thank You For Choosing to Dine at Our</span>
    <span class="span-col-s">Restaurant Hoping That You Will Enjoy</span>
</h2>
