
@{
    ViewData["Title"] = "Index";
}

<h2>Index Action, Main Controller</h2>
<p>
    @Html.ActionLink("Path: " + Url.Action("RegularWithParameter"), "RegularWithParameter", "Main",
        new
        {
            parameter1 = "Passing a value to the first parameter",
            parameter2 = "Passing a value to the second parameter"
        })
</p>
