<section>
    <h2 class="m-2">Did you like the book you borrowed? </h2>
    <button type="button" class="btn btn-outline-success">Yes</button>
    <button type="button" class="btn btn-outline-danger">No</button>
    <div id="alert" class="alert alert-success alert-dismissible fade show m-3" role="alert">
        <strong>Thank you for the response!</strong>
        We will take this into consideration the next time we recommend you a book.
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</section>