
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" href="~/css/main.css" rel="stylesheet" />
</head>
<body>
    <h1>My Photo Book</h1>
    <div>
        <img src="~/images/coastal-view.jpg" />
        <h3>Coastal view</h3>
    </div>

    <div>
        <img src="~/images/headland.jpg" />
        <h3>Headland View</h3>
    </div>

    <div>
        <img src="~/images/orchard.jpg" />
        <h3>Orchar</h3>
    </div>
</body>
</html>
