@model Library.Models.User

@{
    ViewData["Title"] = "LendingBook";
}

<h1 class="title">Hello @User.Identity.Name - Lend a Book</h1>
<div class="row justify-content-center">
    <div class="col-4">
        <form method="post" enctype="multipart/form-data" asp-action="AddToShoppingList">
            <div class="form-group row">
                <label asp-for="Books" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <select multiple asp-for="Books" asp-items="ViewBag.BookList" type="text" class="form-control" placeholder="Books" required></select>
                    <span asp-validation-for="Books"></span>
                </div>
            </div>
           
            <div class="form-group row">
                <div class="col-sm-10">
                    <button id="formButton" type="submit" class="btn btn-outline-primary">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}


