
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/StyleSheet/StyleSheet - General.css" rel="stylesheet" />
    <link href="~/StyleSheet/StyleSheet - Home Index.css" rel="stylesheet" />
</head>
<body>
    <h1>Contoso</h1>
    <div>
        <span>
            Photos
        </span>
        <span>
            @Html.ActionLink("Employees", "Index", "Person")
        </span>
        <span>
            Contact Us
        </span>
    </div>
    <br />
    <br />
    <p>
        Welcome to the contoso main page. Visit the employees page to see out employees.
    </p>
</body>
</html>
