body {
    background-image: url("../images/grass.jpg");
    background-repeat: repeat;
    color: darkgray;
}

.head {
    align-content: center;
    text-align: center;
}

.submitform {
    margin-left: 30%;
    width: 40%;
}

.submitform .item {
    clear: left;
    padding: 5%;
    overflow: auto;
}

.submitform .item .imgitem {
    width: 25%;
    float: left;
}

.submitform .item img {
    width: 100%;
}
.submitform .item .inputitem {
    float: left;
    height: inherit;
    margin-top: 7%;
    margin-left: 5%;
}

.submitform .MainBatch1 {
    float: left;
    width: 50%;
}

.submitform .MainBatch2 {
    float: right;
    width: 50%;
}

.submitform .SubmitBatch {
    clear: both;
}

    
