@model IEnumerable<IceCreamCompany.Models.IceCream>

@{
    ViewData["Title"] = "Index";
}

<h1>Choose Your Favourite One</h1>
<div class="img-container">
    @foreach (var item in Model)
    {
        <div class="item">
            <h3>
                @Html.DisplayFor(modelItem => item.Flavor)
            </h3>
            @if (item.PhotoFileName != null)
            {
                <div>
                    <img src="@Url.Action("GetImage", "IceCream", new { iceCreamId = item.IceCreamId })" />
                </div>
            }
            <div>
                <p>
                    @Html.DisplayFor(model => item.Price)
                </p>
            </div>
        </div>
    }
</div>