
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Employee Details</h1>
    <br />
    <p class="center text">
        Name: @ViewBag.SelectedPerson
    </p>
    <br />
    <div class="center">
    </div>
</body>
</html>
