html {
    background-image: url('BrownNoise.jpg');
    background-position: center center;
}
td {
    background-image: url('istock-519553256.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; 
    width: 300px;
}

div {
    opacity: 0.6;
    margin-left: 35px;
    margin-top: 10px;
}

h1 {
    color: antiquewhite;
    opacity: 0.5;
    text-align:center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

