
@{
    ViewData["Title"] = "Chat";
}

<h2 class="title">
    <span>Chat with</span>
    <span class="chat-title">Online Site Visitors</span>
</h2>

<div class="chat">
    <div class="row justify-content-center">
        <div class="col-2 bcf">
            <div class="col-5">
                Name: <input type="text" id="inputUserName" />
            </div>
            <div class="col-sm-5">
                Message: <input type="text" id="inputMessage" />
            </div>
            <div class="col-sm-3">
                <input class="btn btn-info" type="submit" id="sendMessageBtn" value="Send Message" />
            </div>
        </div>
        <div class="col-2 bcs">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/node_modules/@@aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat-hub.js"></script>
}

