@model IEnumerable<CachingExample.Models.Product>
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <h1>Choose a Product from the Products List</h1>
    <div class="product-wrapper">
        <div class="product-list">
            @foreach (var product in Model)
            {
                <div>
                    <a asp-action="Index" asp-route-id="@product.Id">@product.Name</a>
                </div>
            }
        </div>
        <cache vary-by="@ViewBag.SelectedProductId">
            <div>
                @await Component.InvokeAsync("Product", @ViewBag.SelectedProductId)
            </div>
        </cache>
    </div>
</body>
</html>